.cart-drawer__inner {
  background-color: rgb(var(--color-background));
  display: flex;
  flex-direction: column;
  width: 36rem;
  max-width: 100%;
  height: 100dvh;
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
  z-index: var(--z-header);
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform var(--drawer-transition-duration) var(--drawer-transition-timing-function),
    visibility var(--drawer-transition-duration) var(--drawer-transition-timing-function);
  overflow-y: auto;
}
[dir='rtl'] .cart-drawer__inner {
  transform: translateX(-100%);
}

.cart-drawer__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 1.6rem 2rem 1.6rem;
}

.cart-drawer__close {
  color: rgb(var(--color-link));
  background: none;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
  position: sticky;
  inset-block-start: 0;
  inset-inline-start: 2.4rem;
  z-index: 2;
  outline: none;
}

.cart-drawer__close svg {
  display: block;
  width: 100%;
  height: 100%;
}

.cart-drawer__title {
  margin: 0;
  position: relative;
}

.cart-drawer__title,
.cart-drawer__empty-text,
.cart-drawer__summary-total {
  color: rgb(var(--color-heading-text));
}

.cart-drawer__title-counter {
  position: absolute;
  inset-inline-start: calc(100% + 0.8rem);
  opacity: 0.75;
  font-family: var(--font-heading-family);
  width: max-content;
  font-size: var(--font-size-static-sm);
  line-height: var(--line-height-static-xs);
  font-weight: var(--font-weight-normal);
  letter-spacing: -0.084rem;
}
@media screen and (min-width: 750px) {
  .cart-drawer__title-counter {
    font-size: var(--font-size-static-h6);
  }
}

.cart-drawer__empty {
  padding-block-start: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cart-drawer__empty-text {
  letter-spacing: 0;
  margin: 0 0 2.4rem;
  text-align: center;
}

.cart-drawer__empty-text > * {
  text-align: center;
  margin: 0;
}

.cart-drawer__empty-text>h2 em {
  line-height: unset;
}

.cart-drawer__empty-desc {
  display: block;
  text-align: center;
  margin: 0 0 3.2rem;
  color: rgba(var(--color-secondary-text));
  font-size: var(--font-size-static-md);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-static-sm);
  letter-spacing: 0.028rem;
}

.cart-drawer__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}

.cart-drawer__top,
.cart-drawer__main,
.cart-drawer__bottom {
  padding: 0 1.6rem 2.4rem;
}

.cart-drawer__summary-discounts {
  font-size: var(--font-size-static-md);
  margin: 1.2rem 0 0;
}

.cart-drawer__summary-discounts svg {
  color: rgb(var(--color-heading-text));
}

.cart-drawer__summary-discounts svg,
.cart-drawer__summary-discounts span {
  display: inline;
  vertical-align: middle;
}

.cart-drawer__summary {
  padding: 2.4rem 0 0;
  background: rgb(var(--color-background));
  width: 100%;
  z-index: 10;
  position: relative;
}

.cart-drawer__summary::before {
  content: '';
  position: absolute;
  inset-block-start: -0.1rem;
  inset-inline-start: 50%;
  width: 200%;
  height: 0.1rem;
  transform: translate(-50%, 0);
  background: rgba(var(--color-border), var(--alpha-border));
}
[dir='rtl'] .cart-drawer__summary::before {
  transform: translate(50%, 0);
}

.cart-drawer__summary-total {
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2.4rem;
  max-height: 5rem;
  gap: 0.4rem;
}

.cart-drawer__summary-actions {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-4);
}

.cart-drawer__terms {
  flex: 1 0 100%;
}

.cart-drawer__terms label {
  font-size: var(--font-size-static-sm);
  line-height: var(--line-height-static-sm);
}

.cart-drawer__action-buttons {
  flex: 1 0 100%;
  display: flex;
  gap: 1.2rem;
}

.cart-drawer__action-buttons>* {
  flex: 1 1 50%;
}

.cart-drawer__summary-content span {
  display: block;
  font-size: var(--font-size-static-h6);
  line-height: var(--line-height-static-sm);
  letter-spacing: -0.084rem;
  margin-block-end: 0.8rem;
}

.cart-drawer__summary-tax {
  color: rgba(var(--color-foreground), .75);
  font-size: var(--font-size-static-xs);
  margin: 0;
}

.cart-drawer__total-price {
  font-family: var(--font-body-family);
  font-size: var(--font-size-static-h6);
  line-height: var(--line-height-static-sm);
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0.02rem;
  white-space: nowrap;
}

.cart-drawer__summary-tax a {
  color: currentColor;
}

.cart-drawer__main  {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
}

cart-drawer-items {
  display: block;
  position: relative;
  margin-block-end: 2.4rem;
}

.cart-drawer__spinner {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-body-background-transparent-50);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  transition: opacity var(--duration-default), visibility var(--duration-default);
}

cart-drawer-items.is-loading .cart-drawer__spinner {
  opacity: 1;
  visibility: visible;
}

.cart-drawer__recommendations .swiper {
  margin: 0 -1.6rem;
  padding: 0 1.6rem;
}

cart-drawer.is-visible .cart-drawer {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  background-color: transparent;
}
cart-drawer.is-visible .cart-drawer::before {
  content: '';
  display: block;
  position: fixed;
  inset: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: var(--z-header);
}
cart-drawer.is-visible .cart-drawer__inner {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  z-index: calc(var(--z-header) + 1);
}

.cart-drawer .cart-summary__button {
  width: 100%;
}

.quantity__wrapper {
  border: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
}

.cart-drawer__information-bar {
  padding-block: 1.2rem;
  border-block-end: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
}

.cart-drawer__swiper {
  max-height: 4.5rem;
}

.cart-drawer__swiper .swiper-wrapper .swiper-slide-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-drawer__information-bar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.cart-drawer__info-img {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.8rem 0 0;
}

.cart-drawer__info-img img {
  width: 100%;
  height: 100%;
}

.cart-drawer__information-bar-content p {
  margin: 0;
  font-size: var(--font-size-static-sm);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-static-md);
  letter-spacing: -0.024rem;
}

.cart-drawer .cart-item + .cart-item {
  padding-block-start: 2.4rem;
  border-block-start: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
}

cart-drawer .cart-item__title {
  padding-block: 0;
}

cart-drawer .cart-item__price {
  margin: 0 0 1.2rem;
}

.cart-drawer .cart-item__actions--price > * {
  flex-direction: column;
}

@media screen and (min-width: 990px) {
  .cart-drawer__empty {
    padding-block-start: 4rem;
  }

  .cart-drawer__head {
    padding: 2rem 3.6rem 2rem 3.6rem;
  }

  .cart-drawer__inner {
    width: 60rem;
  }

  .cart-drawer__body {
    flex: 1;
  }

  .cart-drawer__top,
  .cart-drawer__main,
  .cart-drawer__bottom {
    padding: 0 3.6rem 2.4rem;
  }

  .cart-drawer__recommendations .swiper {
    margin: 0 -3.6rem;
    padding: 0 3.6rem;
  }

  .cart-drawer .cart-item + .cart-item {
    margin-block-start: 2.4rem;
    padding-block-start: 2.4rem;
  }

  .cart-drawer__summary {
    width: 100%;
  }
  .cart-drawer__summary-content {
    max-width: unset;
  }
  .cart-drawer__summary-tax {
    font-size: var(--font-size-static-sm);
  }
}
