/* Badges / Product card */
.product-card__badges {
  display: flex;
  gap: .8rem;
}

.product-card__badge {
  padding: 0.6rem 0.8rem;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  font-size: var(--font-size-static-xs);
  line-height: var(--line-height-static-sm);
  letter-spacing: .14rem;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
}

.product-card__badge.product-card__badge--square {
  border-radius: 0;
}

.product-card__badge.product-card__badge--rounded {
  border-radius: 0.4rem;
}

.product-card__badge {
  background-color: rgba(var(--color-tag-background));
  color: rgba(var(--color-tag-foreground));
}

.product__title--with-badges {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-card__badge--discount {
  background-color: var(--color-badge-discount-background);
  color: var(--color-badge-discount-foreground);
}
