.card-result {
  aspect-ratio: var(--card-aspect-ratio);
  background-color: rgb(var(--color-background));
  text-align: center;
  position: relative;
}

.card-result > a {
  display: flex;
  width: 100%;
  height: 100%;
  transition: opacity var(--duration-default);
}

.card-result__media {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
}

.card-result__content {
  position: relative;
  z-index: 2;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  align-content: space-between;
  row-gap: 3.2rem;
  padding: 2.4rem 1.2rem;
}
.card-result__content.color-text-inverse > * {
  color: rgb(var(--color-background));
}

.card-result p,
.card-result__title {
  margin: 0;
}

.card-result__link {
  width: fit-content;
  margin: 0 auto;
}

@media (hover: hover) {
  .card-result > a:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: 749px) {
  .card-result__title {
    font-size: var(--font-size-static-lg);
  }
}

@media screen and (min-width: 750px) {
  .card-result__content {
    padding: 3.2rem 2.4rem;
  }
}
