aside.gdrp_popup-privacy, aside.gdrp_popup-terms {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80dvh;
    z-index: 99999999999;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    overflow:auto;
}

.gdrp_popup-content{
    height:100%;
    padding: 20px 40px;
    position:relative;
    width:100%;
}

.gdrp_popup-close{
    position: absolute;
    /* width: 40px; */
    top: 20px;
    right: 20px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 15px 10px;
    line-height: 0px;
    background: #fff;
    /* height: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.gdrp_popup-content ol,.gdrp_popup-content ul {
    margin-left: 30px;
}

aside.cart_popup-privacy, aside.cart_popup-terms {
    position: fixed;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80dvh;
    z-index: 99999999999;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    overflow:auto;
    border:1px solid black;
}

.cart_popup-content{
    height:100%;
    padding: 20px 40px;
    position:relative;
}

.cart_popup-close{
    position: absolute;
    /* width: 40px; */
    top: 20px;
    right: 20px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 15px 10px;
    line-height: 0px;
    background: #fff;
    /* height: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;

}

.cart_popup-content ol,.cart_popup-content ul {
    margin-left: 30px;
}

.popup_cart-terms span{
    font-size:13px;
}

.cart_popup_link{
    text-decoration:underline;
    cursor:pointer;
}