.template--password main,
.template--password main > .shopify-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-password {
  color: rgb(var(--color-foreground));
  background-color: var(--color-background);
  padding: 6.4rem 0;
  flex: 1;
}

.main-password__title {
  margin: 0;
}

.main-password__entry,
.main-password__foot {
  color: var(--color-body);
}

.main-password__entry {
  margin: 1.6rem 0 0;
}

.main-password__entry p:first-child {
  margin-block-start: 0;
}

.main-password__entry p:last-child {
  margin-block-end: 0;
}

.main-password__email-signup {
  margin: 2.4rem 0 0;

  padding: 4rem;
  background-color: rgb(var(--color-background));
}
.main-password__email-signup h2 {
  margin: 0 0 1.6rem;
}
.main-password__email-signup p {
  margin: 0 0 2.4rem;
}

.main-password__callout {
  font-size: var(--font-size-static-sm);
  margin: var(--spacing-5) 0 var(--spacing-7);
  padding-block-end: var(--spacing-7);
  border-block-end: 0.1rem solid rgb(var(--color-border));
}
.main-password__callout a {
  text-decoration: underline;
}
.main-password__callout a:hover {
  text-decoration: none;
}

.main-password__foot {
  opacity: 0.25;
}

.main-password__foot svg {
  color: var(--color-logo);
  display: inline;
}

.main-password__foot a {
  font-size: 0;
  vertical-align: bottom;
  display: inline-block;
  margin-inline-start: 1.2rem;
}

@media screen and (min-width: 990px) {
  .main-password {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-password__entry {
    margin: 2.4rem 0 0;
  }
}
