.blog {
  background-color: rgb(var(--color-background));
}

.blog__head {
  display: flex;
  overflow: auto hidden;
  margin-block-end: calc(4rem - (var(--h3-multiplier) / 5.0));
  justify-content: center;
  padding: 0 var(--page-gutter);
}

.blog__filters {
  max-width: 100%;
}

.blog__filters a,
.blog__filters span {
  display: block;
  width: max-content;
  line-height: var(--line-height-static-sm);
}

.blog__filters-item:not(.is-active) {
  color: rgba(var(--color-foreground), 0.25);
}
.blog__filters-item:not(.is-active):hover {
  color: rgba(var(--color-foreground), 0.5);
}


.blog__filters-items {
  display: flex;
  column-gap: var(--section-spacing-unit-size);
}

.blog__articles-grid {
  display: grid;
  overflow-wrap: anywhere;
  gap: calc(var(--grid-spacing) * 3);
}

.blog__card-article .card-article__content {
  padding-block-start: 2.4rem;
}

.blog__actions {
  margin-block-start: 4rem;
}

.blog__card-text {
  margin-block-end: calc(0rem - var(--grid-spacing));
}

@media (hover: hover) {
  .blog__filters a:hover {
    background-color: rgb(var(--color-background));
  }
}

/* @media screen and (max-width: 749px) {
  .template--blog .section-full-width-banner {
    aspect-ratio: 1 / 1;
  }
} */

@media screen and (min-width: 575px) {
  .blog__articles-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog__card-text {
    margin-block-end: 0;
  }
}

@media screen and (min-width: 750px) {
  .blog__head {
    margin-block-end: calc(6.4rem - (var(--h4-multiplier) / 5.0));
  }
  .blog__filters-items {
    font-size: calc(var(--font-heading-scale) * var(--h4-multiplier));
    padding-block: calc(var(--h4-multiplier) / 5.0);
  }
  .blog__articles-grid {
    margin: 0;
    gap: var(--grid-spacing);
  }
}

@media screen and (min-width: 990px) {
  .blog__articles-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .blog__filters-items {
    justify-content: center;
    overflow: visible;
    margin: 0;
  }

  .blog__filters-item + .blog__filters-item {
    margin-inline-start: 0;
  }
}
