.header-password {
  text-align: center;
  color: rgb(var(--color-heading-text));
  background-color: rgb(var(--color-background));
  padding: 2.4rem 0;
}

.header-password__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 1.6rem;
}

.header-password__link button {
  font: inherit;
  font-size: var(--font-size-static-lg);
  color: currentColor;
  background: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.header-password__link button svg {
  margin-inline-end: 1.2rem;
}

.header-password__link button span {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

@media screen and (min-width: 990px) {
  .header-password .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-password__logo {
    margin-block-end: 0;
  }
}
