.section-dual-tiles .grid {
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
}

.section-dual-tiles__block {
  position: relative;
  grid-column: span var(--block-grid-column);
  width: 100%;
  overflow: hidden;
  border-radius: var(--card-corner-radius);
  display: flex;
  padding: calc(var(--section-spacing-unit-size) * var(--block-padding-multiplier, 0));
  align-self: var(--block-align-self);
  aspect-ratio: var(--block-aspect-ratio);
}

.section-dual-tiles .bg-transparent {
  background-color: transparent;
}
.section-dual-tiles__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.has-media .section-dual-tiles__media,
.has-media--mobile .section-dual-tiles__media {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.has-media .section-dual-tiles__content,
.has-media--mobile .section-dual-tiles__content {
  position: relative;
  z-index: 1;
}

.section-dual-tiles__media {
  position: relative;
  width: 100%;
  height: 100%;
}

.section-dual-tiles__media iframe {
  pointer-events: none;
  border: none;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  width: 190%;
  max-width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
[dir='rtl'] .section-dual-tiles__media iframe {
  transform: translate(50%, -50%);
}

.section-dual-tiles__media img,
.section-dual-tiles__media video,
.section-dual-tiles__media svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-dual-tiles__media img {
  transition: transform 0.6s ease;
}

/* color bleed from corner radius issue fix */
.section-dual-tiles__block:has(.section-dual-tiles__media) {
  background-color: transparent;
}

.section-dual-tiles__button-link {
  width: 0; height: 0; overflow: hidden;
}
.section-dual-tiles__button-link::after {
  position: absolute;
  inset: 0;
  content: '';
  z-index: 1;
}

@media screen and (max-width: 749px) {
  .section-dual-tiles .grid {
    gap: var(--section-gap-between-tiles);
  }

  .section-dual-tiles__block {
    grid-column: span 6;
  }

  .section-dual-tiles__block:first-of-type {
    order: var(--section-block-order-mobile);
  }
}

@media screen and (min-width: 750px) {
  .section-dual-tiles__block {
    aspect-ratio: var(--block-aspect-ratio);
  }

  .section-dual-tiles__content {
    row-gap: 3.6rem;
  }

  .section-dual-tiles {
    column-gap: var(--section-gap-between-tiles);
    row-gap: 0;
  }
}

@media (hover: hover) {
  .section-dual-tiles__block.tile__image-hover:hover .section-dual-tiles__media>img {
    transform: scale(1.05);
  }

  .section-dual-tiles__block:has(.section-dual-tiles__media):hover .section-dual-tiles__content--button.button {
    color: var(--color-button-hover-text);
    background-color: var(--color-button-hover-background);
    border-color: var(--color-button-hover-outline);
  }

  .section-dual-tiles__block:has(.section-dual-tiles__media):hover .section-dual-tiles__content--button.button.button--text {
    border-width: 0;
    background-color: transparent;
    color: rgb(var(--color-heading-text));
    min-height: auto;
  }

  .section-dual-tiles__block:has(.section-dual-tiles__media):hover .section-dual-tiles__content--button.button.button--text::after {
    width: 30%;
    background-color: rgb(var(--color-heading-text));
  }
}
