.shop-the-look {
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.shop-the-look__inner {
  display: flex;
  flex-direction: column;
  position: relative;
}

.shop-the-look__content {
  max-width: 100%;
  margin-inline: auto;
}

.shop-the-look__item--slider {
  margin-block-start: auto;
}

.shop-the-look__item--media {
  position: relative;
  order: -1;
}

.shop-the-look__swiper {
  display: none;
}

.shop-the-look__media {
  height: 100%;
  aspect-ratio: var(--media-aspect-ratio);
}

.shop-the-look__item--media .shop-the-look__media img {
  object-fit: cover;
}

.shop-the-look__dots {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.shop-the-look__dots li {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}
[dir='rtl'] .shop-the-look__dots li {
  transform: translate(50%, -50%);
}

.shop-the-look__title {
  text-align: center;
}

.shop-the-look__item.shop-the-look__item--products {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 2.4rem;
}

shop-the-look-drawer .shop-the-look__item.shop-the-look__item--products {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

shop-the-look-drawer .shop-the-look__item.shop-the-look__item--products .product-card__add-to-cart--button.button--icon svg {
  display: none;
}

shop-the-look-drawer .shop-the-look__item.shop-the-look__item--products .product-card__add-to-cart--button.button--icon span.visually-hidden {
  display: block;
  position: unset !important;
  width: unset;
  height: unset;
}

shop-the-look-drawer .product-card__add-to-cart--button {
  --color-button-outline: currentColor;
  max-height: 4.2rem;
}
shop-the-look-drawer .button.product-card__add-to-cart--button:hover {
  border-color: var(--color-button-hover-outline);
  --color-button-hover-text: var(--color-button-hover-outline);
  color: currentColor;
}


@media screen and (max-width: 749px) {
  .shop-the-look__item.shop-the-look__item--products {
    padding-block: 2.4rem;
  }
  shop-the-look-drawer .shop-the-look__item.shop-the-look__item--products {
    padding-block: 0;
    overflow-y: hidden;
  }
}

.shop-the-look__bottom {
  margin-block-start: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop-the-look__bottom .swiper-buttons {
  position: relative;
  margin-block-start: 0;
  margin-inline-start: auto;
}

.shop-the-look__bottom .swiper-buttons .swiper-button {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.shop-the-look__bottom .swiper-buttons .icon {
  width: 1.2rem;
  height: 1.2rem;
}

.shop-the-look__bottom .swiper-pagination-progressbar {
  position: unset;
  margin-block-start: 0;
  width: 10rem;
  height: 0.2rem;
}

.shop-the-look__bottom .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: rgb(var(--color-progress-bar));
}

.shop-the-look__item--products {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
[dir='rtl'] .shop-the-look__item--products {
  inset-inline-start: unset;
  inset-inline-end: 50%;
}

.shop-the-look__item--products {
  min-width: 70%;
}

.shop-the-look__item--products .product-card__add-to-cart--button::before {
  opacity: 0;
  visibility: hidden;
}

shop-the-look-drawer .shop-the-look__item--products {
  position: unset;
  inset-block-start: unset;
  inset-inline-start: unset;
  transform: unset;
  min-width: unset;
}

.shop-the-look__media img,
.shop-the-look__media svg {
  min-height: 70vh;
}

.shop-the-look__full-banner {
  position: relative;
}

.shop-the-look__full-banner-media,
.shop-the-look__full-banner-media>* {
  aspect-ratio: var(--media-aspect-ratio);
}

.shop-the-look__full-banner-dots {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
}

.shop-the-look__full-banner-dots ul {
  width: 100%;
  height: 100%;
}

.shop-the-look__full-banner-dots ul li {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  z-index: 1;
  cursor: pointer;
}
[dir='rtl'] .shop-the-look__full-banner-dots ul li {
  transform: translate(50%, -50%);
}

.shop-the-look__full-banner-dots ul li button {
  width: 3rem;
}

.shop-the-look__item-card {
  position: absolute;
  inset-block-end: calc(100% + 1rem);
  inset-inline-start: 50%;
  background: rgb(var(--color-background));
  width: 28.8rem;
  padding: 1.2rem;
  border-radius: var(--card-corner-radius);
  transform: translate(-50%, -0);
  opacity: 0;
  visibility: hidden;
  transition: var(--duration-default) ease-in;
}
[dir='rtl'] .shop-the-look__item-card {
  inset-inline-start: unset;
  inset-inline-end: 50%;
  transform: translate(50%, -0);
}

.shop-the-look__item-card::before {
  content: "";
  position: absolute;
  display: block;
  background: rgb(var(--color-background));
  inset-block-start: calc(100% - 0.1rem);
  inset-inline-start: 50%;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  transform: translate(-50%);
  width: 2.5rem;
  height: .8rem;
}
[dir='rtl'] .shop-the-look__item-card::before {
  transform: translate(50%);
}

@media screen and (min-width: 990px) {
  .shop-the-look {
    overflow: visible;
  }

  .shop-the-look__full-banner-dots ul li button.pulse:hover {
    color: rgb(var(--color-background));
  }

  .shop-the-look__full-banner-dots ul li:hover .shop-the-look__item-card {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (min-width: 480px) {
  .shop-the-look__item--products {
    min-width: unset;
  }
}

@media screen and (min-width: 750px) {
  .shop-the-look__inner {
    flex-direction: row;
    align-items: center;
  }

  .shop-the-look__media img,
  .shop-the-look__media svg {
    min-height: unset;
  }

  .shop-the-look__item--products {
    position: unset;
    inset-block-start: unset;
    inset-inline-start: unset;
    transform: unset;
  }

  .shop-the-look__content {
    max-width: 80%;
  }

  .shop-the-look__item {
    width: 50%;
  }

  /* .shop-the-look__item.shop-the-look__item--products {
    padding: var(--page-gutter) 0;
  } */

  .shop-the-look__item--media {
    order: 0;
    margin-block-end: 0;
  }

  .shop-the-look__title {
    max-width: 85%;
    margin: 0 auto;
    margin-block-end: 4rem;
  }

  .shop-the-look__swiper {
    display: block;
  }

  .shop-the-look .card-product__content {
    padding-block-start: 1.6rem;
  }

  .shop-the-look__item .product-card {
    padding: 0 0.5rem;
  }

  .shop-the-look .card-product__title {
    margin-block-end: 0.8rem;
  }
  .shop-the-look__item--slider {
    width: 60%;
    margin: 0 auto;
  }
  .shop-the-look__bottom {
    padding-block-end: 0.4rem;
  }
}

@media screen and (min-width: 990px) {
  .shop-the-look__item--slider {
    width: 45%;
  }

  .shop-the-look__title {
    margin-block-end: 4.8rem;
  }

}

@media screen and (min-width: 1200px) {
  .shop-the-look__title {
    max-width: 75%;
  }
}

@media screen and (max-width: 749px) {
  .shop-the-look__title {
    font-weight: var(--font-weight-normal);
    text-transform: none;
    line-height: 100%;
    letter-spacing: var(--font-body-letter-spacing);
  }
}
/*
 * Custom scrollbar for section
 */
shop-the-look-drawer ::-webkit-scrollbar {
  width: 0.8rem;
}
shop-the-look-drawer ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8em;
}
shop-the-look-drawer ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 8rem;
}
shop-the-look-drawer ::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

/*
 * Drawer
 */
shop-the-look-drawer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: var(--z-header, 800);
}
shop-the-look-drawer.is--open {
  pointer-events: auto;
}
shop-the-look-drawer .shop-the-look-drawer__backdrop {
  display: none;
  pointer-events: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: rgba(var(--color-foreground), 0.5);
  z-index: 0;
}
shop-the-look-drawer.is--open .shop-the-look-drawer__backdrop {
  display: block;
  pointer-events: auto;
  opacity: 1;
}
shop-the-look-drawer .shop-the-look-drawer__blocks {
  pointer-events: none;
  position: fixed;
  inset-block-start: initial;
  inset-block-end: 0;
  inset-inline: 0;
  background-color: rgb(var(--color-background));
  z-index: 20;
  transform: translateY(100%);
  transition: transform var(--drawer-transition-duration) var(--drawer-transition-timing-function);
  opacity: 0;
  padding-block-end: calc(var(--spacing-4) + env(safe-area-inset-bottom));
  overflow-y: auto;
}
shop-the-look-drawer.is--open .shop-the-look-drawer__blocks {
  pointer-events: auto;
  transform: translateY(0%);
  opacity: 1;
  border-radius: 1.2rem 1.2rem 0rem 0rem;
}
shop-the-look-drawer .shop-the-look-drawer__blocks .product-card__title,
shop-the-look-drawer .shop-the-look-drawer__blocks .product-card__variants--info {
  line-height: var(--line-height-static-md);
}
shop-the-look-drawer .shop-the-look-drawer__blocks .product-card--small .product-card__info {
  gap: var(--spacing-2);
}
shop-the-look-drawer .shop-the-look-drawer__blocks .product-card--small .product-card__content {
  gap: 0;
}
shop-the-look-drawer .price {
  font-weight: var(--font-weight-semibold);
}
shop-the-look-drawer .product-card--small .product-card__content {
  width: 100%;
  justify-content: center;
}
shop-the-look-drawer .product-card__options {
  margin-block: var(--spacing-1);
}
shop-the-look-drawer .product-card__variants {
  display: flex;
}

shop-the-look-drawer .product-card__title {
  overflow: hidden;
  text-overflow: ellipsis;
  --product-card-title-display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.shop-the-look-drawer__handle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-4) 0 var(--spacing-2);
}

.shop-the-look-drawer__handle-line {
  background-color: rgb(var(--color-heading-text));
  border-radius: 0.2rem;
  width: 4.8rem;
  height: 0.2rem;
  flex-shrink: 0;
}
.shop-the-look-drawer__blocks .button--close {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: var(--spacing-2);
}

.shop-the-look-drawer__blocks .button--close svg {
  color: rgb(var(--color-foreground));
  width: 1.6rem;
  height: 1.6rem;
}

shop-the-look-drawer .shop-the-look__item .shop-the-look__title {
  display: none;
}

shop-the-look-drawer .swiper {
  overflow: visible;
}

shop-the-look-drawer .swiper-wrapper {
  overflow: visible;
  flex-direction: column;
}

@media screen and (max-width: 749px) {
  shop-the-look-drawer .shop-the-look-drawer__blocks {
    max-height: 90vh;
  }
}

@media screen and (min-width: 750px) {
  shop-the-look-drawer .shop-the-look-drawer__blocks {
    max-height: 100%;
    height: 100vh;
    width: 60rem;
    inset-block: 0;
    inset-inline-start: auto;
    inset-inline-end: 0;
    transform: translateX(100%);
  }
  [dir='rtl'] shop-the-look-drawer .shop-the-look-drawer__blocks {
    transform: translateX(-100%);
  }
  shop-the-look-drawer.is--open .shop-the-look-drawer__blocks {
    transform: translateX(0%);
  }
  .shop-the-look-drawer__header .shop-the-look-drawer__blocks--inner {
    max-height: 86vh;
  }
}

.shop-the-look-drawer__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 2.4rem var(--page-gutter);
}

@media screen and (min-width: 750px) {
  shop-the-look-drawer .product .container .product__grid--has-media,
  shop-the-look-drawer .product .max-w-fluid .product__grid--has-media {
    grid-template-columns: 100%;
  }
}

.shop-the-look-drawer__media-swiper {
  overflow: hidden;
  margin-inline-start: var(--page-gutter);
  padding-inline-end: var(--page-gutter);
}

/* drawer trigger button */
.shop-the-look-drawer__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.shop-the-look-drawer__trigger.is--loading > span {
  filter: blur(.1rem);
}
.shop-the-look-drawer__trigger .shop-the-look-drawer__trigger--loading {
  display: none;
  position: absolute;
  z-index: 2;
}
.shop-the-look-drawer__trigger.is--loading .shop-the-look-drawer__trigger--loading {
  display: block;
}
.shop-the-look-drawer__trigger .shop-the-look-drawer__trigger--loading .lds-ring {
  width: 2.4rem;
  height: 2.4rem;
}
.shop-the-look-drawer__trigger .shop-the-look-drawer__trigger--loading .lds-ring span {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0;
}


.shop-the-look__item--products .shop-the-look-drawer__trigger {
  width: fit-content;
  margin: auto;
  margin-block-start: 2.4rem;
}
